<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API de Criptomonedas</title>
    <link rel="stylesheet" href="/statics/styles.css">
</head>
<body>
    <nav>
        <a href="index.html"><button>⬅️ Inicio</button></a>
    </nav>
    <header>
        <h2>Consulta de Criptomonedas 💰</h2>
        <p>Datos proporcionados por CoinGecko.</p>
    </header>

    <main>
        <section class="formulario-api">
            <label for="moneda-select">Elige una Criptomoneda:</label>
            <select id="moneda-select" onchange="obtenerCripto()">
                <option value="">Selecciona...</option>
                <option value="bitcoin">Bitcoin (BTC)</option>
                <option value="ethereum">Ethereum (ETH)</option>
                <option value="solana">Solana (SOL)</option>
                </select>
            </section>

        <section id="resultado-cripto" class="resultados-api">
            <h3 id="cripto-nombre"></h3>
            <p><strong>Precio en USD:</strong> <span id="cripto-precio"></span></p>
            <p><strong>Cambio (24h):</strong> <span id="cripto-cambio"></span></p>
            <p><strong>Market Cap:</strong> <span id="cripto-market-cap"></span></p>
        </section>
    </main>

    <script src="/js/cripto.js"></script>
</body>
</html>